@font-face {
    font-family: "Beau Rivage";
    src: url(../resources/fonts/BeauRivage-Regular.ttf);
}

*{
    font-family: Helvetica;
}
.nav {
    text-transform: uppercase;
    
}

.nav ul {
    list-style: none;
}

.nav a {
    color: white;
    text-decoration: none;
    background-color: #e55454;
    height: 20px;
    width: 125px;
    display: inline-block;
    text-align: center;
    padding: 20px;
}

.categoria-titulo-centro {
    color: black;
    text-decoration: underline;
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 300;
    font-style: oblique;
    font-family: "Beau Rivage";
}

.categoria-titulo-izquierdo {
    color: black;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 300;
    font-style: oblique;
    font-family: "Beau Rivage";
}

.img-index{
    height: 300px;
    width: 400px;

}

.img-lore{
    height: 300px;
    width: 500px;
}

.img-recursos{
    height: 500px;
    width: 300px;

}

.footer {
    background-color: black;
    color: white;
    text-align: center;
}